<table class="table">
    <thead>
        <tr>
            <th>Dimension</th>
            <th>Boards</th>
            <th>BoardFeet</th>
            <th>{{fa-icon "cogs"}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |row|}}
            <tr class="{{row-class row}}">
                <td>
                    {{#link-to "production.dimension" row.DimensionID}}
                        {{row.DimensionName}}
                    {{/link-to}}
                </td>
                <td class="quantity">
                    {{row.BoardsSum}}
                </td>
                <td class="quantity">
                    {{format-number row.BoardFeetSum precision=2}}
                </td>
                <td><input type="checkbox" disabled={{eq row.BoardsSum 10}}></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<!--
<p>Product: {{model.[10].ProductName}}</p>
<p>Dimension: {{#link-to "production.dimension" model.[10].DimensionID}}{{model.[10].DimensionName}}{{/link-to}}</p>
<p>Boards: {{model.[10].BoardsSum}}</p>
<p>BoardsFeet: {{model.[10].BoardFeetSum}}</p>
-->